.alert, .alert * {
  color: white;
}
.alert {
  z-index: 1;
  position: absolute;
  float: left;
  top: -999px;
  left: 250px;
  opacity: 0;
  padding: 10px;
  width: 220px;
  border-radius: 6px;
  background-color: #404956;
  box-shadow: -1px 1px 2px rgba(0,0,0,0.3);
}
.alert::after {
  content: '';
  position: absolute;
  top: 20px;
  left: -8px;
  border: 8px solid #404956;
  border-top-color: transparent;
  border-right-color: transparent;
  border-radius: 4px;
  transform: rotate(45deg);
  box-shadow: -1px 2px 1px rgba(0,0,0,0.3);
}
.alert #closeBtn{
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 1em;
  height: 1em;
  font-size: 12px;
  line-height: 1em;
}
.alert .info > .friendName {
  word-break: break-all;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  margin: 4px 0;
}
.alert .info > .status {
  font-size: 12px;
  font-weight: normal;
  color: #ccc;
}
.alert form.action {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  margin: 6px 0 4px 0;
  padding: 6px;
  white-space: nowrap;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.alert form.action > input[type='text'] {
  width: 75%;
  background-color: transparent;
}
.alert form.action > input[type='submit'] {
  cursor: pointer;
  width: 25%;
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  background-color: transparent;
  padding-left: 4px;
  box-sizing: border-box;
}