.loginWrapper {
  margin: auto;
  padding: 40px 46px;
  background-color: #efefef;
  border-radius: 4px;  -moz-border-radius: 4px;  -webkit-border-radius: 4px;
  box-shadow: 0 2px 10px #999;  -moz-box-shadow: #999 0 2px 10px;  -webkit-box-shadow: #999 0 2px 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loginWrapper header {
  margin-bottom: 44px;
  width: 150px;
  text-align: center;
  cursor: default;
  user-select: none;
}
.loginWrapper header svg {
  width: 100%;
  fill: #ff6e40;
  margin: 10px auto;
}

.loginWrapper #nicknameWrapper {
  position: relative;
}
#nicknameWrapper .warning {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  color: red;
  text-align: center;
  font-size: 12px;
  visibility: hidden;
  transition: all 0.3s;
}
#nicknameWrapper a#giveName{
  font-size: 12px;
}

#loginForm .nicknameInput, #loginForm .loginBtn{
  display: block;
  margin: 16px 0;
  padding: 8px;
  border-radius: 20px;
  width: 230px;
  height: 42px;
  transition: all 0.2s;
}
#loginForm .nicknameInput{
  border: 1px solid #999;
  text-align: center;
}
#loginForm .nicknameInput:focus{
  box-shadow: 0 2px 10px #ccc;
}
#loginForm .loginBtn{
  cursor: pointer;
  background-color: #ff6e40;
  font-size: 16px;
}
#loginForm .loginBtn:hover{
  background-color: #ff8a65;
  box-shadow: 0 2px 10px #ccc;
}